.logo-login img{
  width: 80%;
}
.login{
  font-size: 80px;
}
/*---------------------------------------------------------------------nextpage*/
.search img{
  width: 50%;
}
.box{
  border: 5px solid #888888;
  border-radius: 10px;
  padding: 25px;
  width: 60%;
}
h1{
  color: #888888;
  margin-bottom: 200px;
}
.homeber{
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: white;
}
.logo-home img{
  margin-left: 10%;
  width: 15%;
  float: left;
}
.logo-log img{
  margin-left: 8%;
  width: 15%;
  float: left;
}
.logo-profile img{
  margin-left: 8%;
  width: 15%;
  float: left;
}
.logo-contact img{
  margin-left: 8%;
  width: 15%;
  float: left;
}
/*--------------------------------------------------------------------nextpage*/
.log-title{

  margin-left: 5%;
  color: #888888;
}
.log-delete{
  font-size: 50px;
  text-align: right;
  margin-right: 10%;
}
.rirekititle{
  font-size: 100px
}
.rirekidetail{
  font-size: 70px;
  margin-bottom: 100px;
}
/*--------------------------------------------------------------------nextpage*/
.search-title{
  font-size: 30px;
  border: solid 5px;
  text-align: center;
  border-radius: 30px;
  padding-left: 10px;
  padding-right: 30%;
  margin-top: 10px;
  color: #888888;

  float: left;
}
.logo-search img{
  width: 15%;
  float: left;
}
.search-result{
  color: #888888;
  padding-top: 10px;
  clear: both;
  font-size: 80px;
}
.mapimage img{
  width: 90%;
  margin-left: 5%;
  border-radius:10px;
}
.result-title{
  font-size: 100px;
  margin-top: 5px;
  padding-left: 10px;
  padding-right: 30%;
  margin-bottom: 10px;
  color: #FFD700;
  float: left;
}
.detail-level{
  clear: both;
  border: solid;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 30px;
  background-color: #32EEFF;
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
  color: white;
  font-size: 80px;
  font-family: sans-serif
}
.detail{
  font-size: 60px;
  margin-left: 5%;
  color: #888888;
}
.shop-link{
  clear: both;
  border: solid;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 30px;
  background-color: #77F9C3;
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
  color: white;
  font-size: 80px;
  margin-bottom: 300px;
}
/*--------------------------------------------------------------------nextpage*/
.profile-title{
color: #888888;
font-size: 80px;
}
.icon img{
  width: 50%;
  border-radius: 50px;
}
.profile-text{
color: #888888;
margin-left: 5%;
font-size: 40px;
}
.profile-text-level{
  clear: both;
  border: solid;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 30px;
  background-color: #00EEDD;
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
  color: white;
  font-size: 80px;
}
.profile-change{
  clear: both;
  border: solid;
  border-radius: 5px;
  margin-right: 60%;
  margin-bottom: 150px;
  margin-left: 20px;
  color: #888888;
  font-size: 40px;
}
.profile-question{
  font-size: 60px;
  float: left;
}
.profile-answer{
  font-size: 80px;
  float: left;
}
/*--------------------------------------------------------------------nextpage*/
.notfound{
  font-size: 60px;
  color: #888888;
}
.contact{
  margin-bottom: 100px;
  border: solid;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 30px;
  background-color: #FFA500;
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
  color: white;
  font-size: 60px;
}
/*--------------------------------------------------------------------nextpage*/
.contact-doctor{
  clear: both;
  border: solid;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 30px;
  background-color: #32EEFF;
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
  color: white;
  font-size: 80px;
}
.contact-119{
  clear: both;
  border: solid;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 30px;
  background-color: red;
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
  color: white;
  font-size: 80px;
}
